  <div>
    <div>
      <%= link_to shout.username, shout.user %>
      <i><%= time_ago_in_words(shout.created_at) %> ago</i>
    </div>
    <%= link_to shout do %>
      <%= shout.body %>
    <% end %>
  </div>
  <br />
